<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/login.css">
    <title>ПСОО "Не навреди" - Авторизация</title>
</head>
<body>
<form method="post" class="form">
    <h1 class="lg_h">ПСОО "Не навреди"</h1>
    <input name="login" type="text" placeholder="Логин">
    <input name="password" type="text" placeholder="Пароль">
    <input name="submit" type="submit" value="Войти" class="btn_lg">
    <p>{{ message }}</p>
</form>
</body>
</html>