<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчеты</title>
</head>
<body>
<div class="main">
    <a href="/report/control" class="link_u" style="border: 2px solid rgb(73, 140,81);">
        <h2 class="link_u">Контроль качества</h2>
    </a>
    <a href="/report/services" class="link_u" style="border: 2px solid rgb(73, 140,81);">
        <h2 class="link_u">Отчет по оказанным услугам</h2>
    </a>
</div>
<style>
    .link_u {
    text-decoration: none;
    color: rgb(73, 140,81);
}
.link_u:hover {
    text-decoration: none;
    background-color: rgb(73, 140,81);
    color: white;
}
.main, body {
    display: flex;
    justify-content: center;
}
</style>
</body>
</html>