<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Утилизаторы</title>
</head>
<body>
<div class="main">
    <a href="/reports" class="link_u" style="border: 2px solid rgb(73, 140,81);">
        <h2 class="link_u">Отчеты</h2>
    </a>
    <div class="u_div">
        {% for u in utils %}
        <a class="link_u" href="/util/{{u.id}}">
        <div class="ut">
            <h3 class="h3_u">Утилизатор: {{u.name}}</h3>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
<style>
    .link_u {
    text-decoration: none;
    color: rgb(73, 140,81);
}
.link_u:hover {
    text-decoration: none;
    background-color: rgb(73, 140,81);
    color: white;
}
</style>
</body>
</html>